#calculator{
    border: black solid 2px;
    height: 520px;
    width: 220px;
}
.butCalc{
    height: 70px;
    width: 70px;
    display: inline-block;
}
#result{
    border: black solid 1px;
    width: 220px;
    height: 100px;
    font-size: 30pt;
}


    /* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 14px Arial, sans-serif;
}

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 325px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 40px;
	width: 212px;
	
	float: right;
	
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}

HTML, BODY {
    height: 100%;
    }
  
  $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;
  
  BODY {
    background: hsl(200,70,11);
    background-size: .12em 100%;
    font: 16em/1 Arial;
  }
  
  .text--line {
    font-size: .5em;
    }
  
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    }
  
  $max: 5;
  $stroke-step: 7%; 
  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 3px;
    
    animation: stroke-offset 9s infinite linear;
    
    @for $item from 1 through $max {
      $stroke-color: nth($colors, $item);
      
      &:nth-child(#{$item}) {
        stroke: $stroke-color;
        stroke-dashoffset: $stroke-step * $item;
        }
      }
    }
  
  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: $stroke-step * $max;  
      stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
  }
  
  <style>
@font-face { 
   font-family: 'Montserrat'; 
   src: url('/montserrat.ttf'); 
}
</style>

@keyframe loading {
  0%   {opacity: 0.9; right: 0px; top: 0px;}
  25%  {opacity: 0.7; right: 50px; top: 50px;}
  50%  {opacity: 0.5; right: 0px; top: 50px;}
  75%  {opacity: 0.3; right: 50px; top: 0px;}
  100% {opacity: 0.1; right: 0px; top: 0px;}
}

@-webkit-keyframes loading {
  0%   {opacity: 0.9; right: 0px; top: 0px;}
  25%  {opacity: 0.7; right: 50px; top: 50px;}
  50%  {opacity: 0.5; right: 0px; top: 50px;}
  75%  {opacity: 0.3; right: 50px; top: 0px;}
  100% {opacity: 0.1; right: 0px; top: 0px;}
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  background-color: #DE0E42;
  animation-name: loading;
  opacity: 1;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 12;
}

.container{
  width: 100wv;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.blast:hover {
    color:#08fdd8;
    font-size: 30px;
}


	.form-row {

	  position: relative;

	}

	 

	.input-text {

	  background-color: #fff;

	  border: 1px solid #ccc;

	  margin-bottom: 8px;

	  padding: 8px 4px;

	  position: relative;

	  width: 100%;

	  z-index: 3;

	}

	 

	.label-helper {

	  bottom: 0;

	  left: 0;

	  opacity: 0;

	  position: absolute;

	  transition: .2s bottom, .2s opacity;

	  z-index: 1;

	}







h3.title-example{
    font-size: 1em; /* Размер шрифта */
    color: #5a5a5a; /* Цвет заголовка */
    text-align: center; /* Текст по центру */
}
/*  CSS код для линии над заголовком */
h3.title-example:before {
    content: '';
    display: block;
    height: 1px; /* Высота линии */
    background: #9900FF; /* Цвет линии */
    width: 150px; /* Ширина линии до наведения */
    margin: 0 auto 10px; /* Отступ с боков по центру и снизу */
	transition: 2s; /* Время, за которое линия возвращается после наведения */
}
h3.title-example:hover:before {
    width: 250px; /* Ширина линии при наведении */
	transition: ease-out 2s; /* Время, за которое линия расширяется при наведении */
}
/*  CSS код для линии под заголовком */
h3.title-example:after {
    content: '';
    display: block;
    height: 1px; /* Высота линии */
    background: #9900FF; /* Цвет линии */
    width: 150px; /* Ширина линии до наведения */
    margin: 10px auto 0; /* Отступ с боков по центру и сверху */
	transition: 2s; /* Время, за которое линия возвращается после наведения */
}
h3.title-example:hover:after {
    width: 250px; /* Ширина линии при наведении */
	transition: ease-out 2s; /* Время, за которое линия расширяется при наведении */
}
     



img:hover {
    border: 3px solid #413f3f; /* Ширина, вид и цвет рамки */
}
     



.border-style-inset{
	border: 8px inset #f66d52;
	padding: 5px;
}
/* CSS-переменные */
:root {
  --toast-border-radius: 0.25rem;
  --toast-theme-default: #fff;
}

.toast {
  font-size: 0.875rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--toast-border-radius);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  display: none;
  position: relative;
  overflow: hidden;
}

.toast_default {
  color: #212529;
  background-color: var(--toast-theme-default);
}

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast__header {
  position: relative;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */


  .cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 3px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 88px;
	height: 88px;
	border-radius: 125px;
	background: rgb(251,211,1);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -43.5px;
	margin-top: -43.5px;
}



.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 113.5px;
	height: 113.5px;
	margin-left: -56.75px;
	margin-top: -56.75px;
	animation: cssload-dot-colors 7.6s ease infinite;
		-o-animation: cssload-dot-colors 7.6s ease infinite;
		-ms-animation: cssload-dot-colors 7.6s ease infinite;
		-webkit-animation: cssload-dot-colors 7.6s ease infinite;
		-moz-animation: cssload-dot-colors 7.6s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 7.6s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 7.6s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 7.6s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 7.6s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 7.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 7.6s 0s ease infinite;
		-o-animation: cssload-dot-move 7.6s 0s ease infinite;
		-ms-animation: cssload-dot-move 7.6s 0s ease infinite;
		-webkit-animation: cssload-dot-move 7.6s 0s ease infinite;
		-moz-animation: cssload-dot-move 7.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 7.6s 1.9s linear infinite;
		-o-animation: cssload-dot-rotate-2 7.6s 1.9s linear infinite;
		-ms-animation: cssload-dot-rotate-2 7.6s 1.9s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 7.6s 1.9s linear infinite;
		-moz-animation: cssload-dot-rotate-2 7.6s 1.9s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 7.6s 1.9s ease infinite;
		-o-animation: cssload-dot-move 7.6s 1.9s ease infinite;
		-ms-animation: cssload-dot-move 7.6s 1.9s ease infinite;
		-webkit-animation: cssload-dot-move 7.6s 1.9s ease infinite;
		-moz-animation: cssload-dot-move 7.6s 1.9s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 7.6s 3.8s linear infinite;
		-o-animation: cssload-dot-rotate-3 7.6s 3.8s linear infinite;
		-ms-animation: cssload-dot-rotate-3 7.6s 3.8s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 7.6s 3.8s linear infinite;
		-moz-animation: cssload-dot-rotate-3 7.6s 3.8s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 7.6s 3.8s ease infinite;
		-o-animation: cssload-dot-move 7.6s 3.8s ease infinite;
		-ms-animation: cssload-dot-move 7.6s 3.8s ease infinite;
		-webkit-animation: cssload-dot-move 7.6s 3.8s ease infinite;
		-moz-animation: cssload-dot-move 7.6s 3.8s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 7.6s 5.7s linear infinite;
		-o-animation: cssload-dot-rotate-4 7.6s 5.7s linear infinite;
		-ms-animation: cssload-dot-rotate-4 7.6s 5.7s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 7.6s 5.7s linear infinite;
		-moz-animation: cssload-dot-rotate-4 7.6s 5.7s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 7.6s 5.7s ease infinite;
		-o-animation: cssload-dot-move 7.6s 5.7s ease infinite;
		-ms-animation: cssload-dot-move 7.6s 5.7s ease infinite;
		-webkit-animation: cssload-dot-move 7.6s 5.7s ease infinite;
		-moz-animation: cssload-dot-move 7.6s 5.7s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		transform: translateY(0);
	}
	18%, 22% {
		transform: translateY(-175px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@-o-keyframes cssload-dot-move {
	0% {
		-o-transform: translateY(0);
	}
	18%, 22% {
		-o-transform: translateY(-175px);
	}
	40%, 100% {
		-o-transform: translateY(0);
	}
}

@-ms-keyframes cssload-dot-move {
	0% {
		-ms-transform: translateY(0);
	}
	18%, 22% {
		-ms-transform: translateY(-175px);
	}
	40%, 100% {
		-ms-transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-175px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes cssload-dot-move {
	0% {
		-moz-transform: translateY(0);
	}
	18%, 22% {
		-moz-transform: translateY(-175px);
	}
	40%, 100% {
		-moz-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-o-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-ms-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-moz-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes cssload-dot-rotate-1 {
	0% {
		-o-transform: rotate(-105deg);
	}
	100% {
		-o-transform: rotate(270deg);
	}
}

@-ms-keyframes cssload-dot-rotate-1 {
	0% {
		-ms-transform: rotate(-105deg);
	}
	100% {
		-ms-transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-moz-keyframes cssload-dot-rotate-1 {
	0% {
		-moz-transform: rotate(-105deg);
	}
	100% {
		-moz-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

@-o-keyframes cssload-dot-rotate-2 {
	0% {
		-o-transform: rotate(165deg);
	}
	100% {
		-o-transform: rotate(540deg);
	}
}

@-ms-keyframes cssload-dot-rotate-2 {
	0% {
		-ms-transform: rotate(165deg);
	}
	100% {
		-ms-transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@-moz-keyframes cssload-dot-rotate-2 {
	0% {
		-moz-transform: rotate(165deg);
	}
	100% {
		-moz-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}

@-o-keyframes cssload-dot-rotate-3 {
	0% {
		-o-transform: rotate(435deg);
	}
	100% {
		-o-transform: rotate(810deg);
	}
}

@-ms-keyframes cssload-dot-rotate-3 {
	0% {
		-ms-transform: rotate(435deg);
	}
	100% {
		-ms-transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@-moz-keyframes cssload-dot-rotate-3 {
	0% {
		-moz-transform: rotate(435deg);
	}
	100% {
		-moz-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes cssload-dot-rotate-4 {
	0% {
		-o-transform: rotate(705deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes cssload-dot-rotate-4 {
	0% {
		-ms-transform: rotate(705deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes cssload-dot-rotate-4 {
	0% {
		-moz-transform: rotate(705deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}

.cssload-wrap {
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;
	box-pack: center;
		-o-box-pack: center;
		-ms-box-pack: center;
		-webkit-box-pack: center;
		-moz-box-pack: center;
	justify-content: center;
		-o-justify-content: center;
		-ms-justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
	box-align: center;
		-o-box-align: center;
		-ms-box-align: center;
		-webkit-box-align: center;
		-moz-box-align: center;
	align-items: center;
		-o-align-items: center;
		-ms-align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
	perspective: 390px;
		-o-perspective: 390px;
		-ms-perspective: 390px;
		-webkit-perspective: 390px;
		-moz-perspective: 390px;
	height: 100%;
	overflow: hidden;
}

.cssload-cssload-spinner {
	position: relative;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
	animation: cssload-wobble 4.59s ease-in-out infinite;
		-o-animation: cssload-wobble 4.59s ease-in-out infinite;
		-ms-animation: cssload-wobble 4.59s ease-in-out infinite;
		-webkit-animation: cssload-wobble 4.59s ease-in-out infinite;
		-moz-animation: cssload-wobble 4.59s ease-in-out infinite;
}
.cssload-cssload-spinner:before, .cssload-cssload-spinner:after {
	display: block;
	content: "";
	width: 88px;
	height: 88px;
	border: 44px solid;
	border-radius: 50%;
	animation: cssload-spin 1.73s ease-in-out infinite both reverse;
		-o-animation: cssload-spin 1.73s ease-in-out infinite both reverse;
		-ms-animation: cssload-spin 1.73s ease-in-out infinite both reverse;
		-webkit-animation: cssload-spin 1.73s ease-in-out infinite both reverse;
		-moz-animation: cssload-spin 1.73s ease-in-out infinite both reverse;
}
.cssload-cssload-spinner:before {
	border-color: rgb(221,221,221);
	position: absolute;
}
.cssload-cssload-spinner:after {
	border-color: black;
	animation-delay: -0.86s;
		-o-animation-delay: -0.86s;
		-ms-animation-delay: -0.86s;
		-webkit-animation-delay: -0.86s;
		-moz-animation-delay: -0.86s;
}





@keyframes cssload-wobble {
	0%, 100% {
		transform: rotateX(8.75deg) rotateY(35deg);
	}
	50% {
		transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
	}
}

@-o-keyframes cssload-wobble {
	0%, 100% {
		-o-transform: rotateX(8.75deg) rotateY(35deg);
	}
	50% {
		-o-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
	}
}

@-ms-keyframes cssload-wobble {
	0%, 100% {
		-ms-transform: rotateX(8.75deg) rotateY(35deg);
	}
	50% {
		-ms-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
	}
}

@-webkit-keyframes cssload-wobble {
	0%, 100% {
		-webkit-transform: rotateX(8.75deg) rotateY(35deg);
	}
	50% {
		-webkit-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
	}
}

@-moz-keyframes cssload-wobble {
	0%, 100% {
		-moz-transform: rotateX(8.75deg) rotateY(35deg);
	}
	50% {
		-moz-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
	}
}

@keyframes cssload-spin {
	0%, 100% {
		transform: translateZ(49px) rotateX(14deg);
	}
	33% {
		transform: translateZ(-49px) scale(0.4);
	}
	66% {
		transform: translateZ(-49px);
	}
}

@-o-keyframes cssload-spin {
	0%, 100% {
		-o-transform: translateZ(49px) rotateX(14deg);
	}
	33% {
		-o-transform: translateZ(-49px) scale(0.4);
	}
	66% {
		-o-transform: translateZ(-49px);
	}
}

@-ms-keyframes cssload-spin {
	0%, 100% {
		-ms-transform: translateZ(49px) rotateX(14deg);
	}
	33% {
		-ms-transform: translateZ(-49px) scale(0.4);
	}
	66% {
		-ms-transform: translateZ(-49px);
	}
}

@-webkit-keyframes cssload-spin {
	0%, 100% {
		-webkit-transform: translateZ(49px) rotateX(14deg);
	}
	33% {
		-webkit-transform: translateZ(-49px) scale(0.4);
	}
	66% {
		-webkit-transform: translateZ(-49px);
	}
}

@-moz-keyframes cssload-spin {
	0%, 100% {
		-moz-transform: translateZ(49px) rotateX(14deg);
	}
	33% {
		-moz-transform: translateZ(-49px) scale(0.4);
	}
	66% {
		-moz-transform: translateZ(-49px);
	}
}

